@model List<VatLieuLotSan.Models.GioHangModel>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 1;
    var thanhTien = 0;
    var sp1 = Model;
    VatLieuLotSan.DataBase.KHACHHANG kh = (VatLieuLotSan.DataBase.KHACHHANG)ViewBag.TTKhachHang;

}
@section scripts{

    <script src="/TaiLieu/Client/js/MyJs.js"></script>
}
<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(/TaiLieu/lotSan/title1.jpg);">
    <h2 class="l-text2 t-center" style=" color:#6d2726">
        GIỎ HÀNG
    </h2>
</section>
<!-- Cart -->
<section class="cart bgwhite p-t-70 p-b-100">
    <div class="container">
        @if (Model.Count > 0)
        {
        <!--Chi tiết giỏ hàng -->
            <div class="container-table-cart pos-relative">
                <div class="wrap-table-shopping-cart bgwhite">
                    <table class="table-shopping-cart">
                        <tr class="table-head">
                            <th class="column-1"></th>
                            <th class="column-2">Sản phẩm</th>
                            <th class="column-3">Đơn giá / VNĐ</th>
                            <th class="column-4 p-l-40">Số lượng</th>
                            <th class="column-5">Tổng tiền</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                        <tr class="table-row">
                            <td class="column-1">
                                <div class="cart-img-product b-rad-4 o-f-hidden">
                                    <img src="@item.SanPham.HINH" data-id="@item.SanPham.MAHANG" alt="IMG-PRODUCT">
                                </div>
                            </td>
                            <td class="column-2">@item.SanPham.TENHANG</td>
                            <td class="column-3" name="colum-3">@(item.SanPham.GIABAN.GetValueOrDefault(0).ToString("N0"))</td>
                            <td class="column-4">
                                <div class="flex-w bo5 of-hidden w-size17">
                                    <button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
                                        <i class="fs-12 fa fa-minus" aria-hidden="true"></i>
                                    </button>

                                    <input class="size8 m-text18 t-center num-product txtSoLuong" data-id="@item.SanPham.MAHANG" type="number" onchange="CapNhatSoLuong()" name="num-product1" id="num-product1" value="@item.SoLuong">

                                    <button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
                                        <i class="fs-12 fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                    <!-- khi số lượng thay đổi sẽ cập nhật tổng tiền -->

                                    <script>
                                            function CapNhatSoLuong() {
                                                var x = document.getElementById("num-product1").value;
                                                var Tien  =@((item.SanPham.GIABAN * item.SoLuong).Value.ToString("N0"));
                                                document.getElementById("tongTien").value = Tien;

                                            }
                                    </script>
                                </div>
                            </td>
                            <td class="column-5" id="tongTien" name="tongTien">@((item.SanPham.GIABAN * item.SoLuong).Value.ToString("N0"))</td>
                            <td class="column-6"><a href="" class="btn-Xoa" data-id="@item.SanPham.MAHANG">Xóa</a></td>
                        </tr>

                        }



                    </table>
                </div>
            </div>
        }
        else
        {
            <span class="alert alert-danger">Chưa có Sản phẩm nào trong giỏ hàng</span>
        }

        <!-- Các nút Button chức năng-->

        <div class="flex-w flex-sb-m p-t-25 p-b-25 bo8 p-l-35 p-r-60 p-lr-15-sm">
            <div class="flex-w flex-m w-full-sm">
                <div class="size12 trans-0-4 m-t-10 m-b-10 m-r-10">
                    <!-- Button  Chuyển về trang sản phẩm -->
                    <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" id="btn_TiepTucMuaHang">
                        Tiếp tục mua hàng
                    </button>
                </div>

                <div class="size12 trans-0-4 m-t-10 m-b-10 m-r-10">
                    <!-- Button  Xóa toàn bộ sản phẩm trong giỏ hàng-->
                    <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" id="btn_XoaGioHang">
                        Xóa giỏ hàng
                    </button>
                </div>

                <div class="size10 trans-0-4 m-t-10 m-b-10">
                    <!-- Button Cập nhật số lượng trong giỏ hàng-->
                    <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" id="btn_CapNhatGioHang">
                        cập nhật giỏ hàng
                    </button>
                </div>
            </div>

            @*<div class="size10 trans-0-4 m-t-10 m-b-10">
                 Button Cập nhật số lượng trong giỏ hàng
                <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" id="btn_DatHang">
                    Đặt Hàng
                </button>
            </div>*@
        </div>

        <!--Form đặt hàng-->
     @{ Html.RenderPartial("DatHang");}


    </div>
</section>

<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>
<!--===============================================================================================-->
<script type="text/javascript" src="/TaiLieu/Client/vendor/jquery/jquery-3.2.1.min.js"></script>

<!--===============================================================================================-->
<script type="text/javascript" src="/TaiLieu/Client/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/TaiLieu/Client/vendor/bootstrap/js/popper.js"></script>
<script type="text/javascript" src="/TaiLieu/Client/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
