@using VatLieuLotSan.DataBase;
@{
    ViewBag.Title = "Home Page";
    var NoiBat = (List<HANGHOA>)ViewBag.NoiBat;
    var LuotXem = (List<HANGHOA>)ViewBag.LuotXem;
    var ChuaRaMat = (List<HANGHOA>)ViewBag.ChuaRaMat;
}

@section scripts{
    <script src="~/TaiLieu/Client/js/MyJs.js"></script>
}
<!-
<!-- Slide1 -->
@{ Html.RenderPartial("Slide");}


<!-- Banner -->
<div class="banner bgwhite p-t-40 p-b-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="/TaiLieu/lotSan/san-nhua-go-1.jpg" alt="IMG-BENNER">

                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a href="/san-pham/LH001" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                            Sàn gỗ
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="/TaiLieu/lotSan/san-nhua-go-1.jpg" alt="IMG-BENNER">

                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a href="/san-pham/LH002" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                            Thảm
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="/TaiLieu/lotSan/san-nhua-go-1.jpg" alt="IMG-BENNER">

                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a href="/san-pham/LH001" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                            Gạch
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our product -->
<section class="bgwhite p-t-45 p-b-58">
    <div class="container">
        <div class="sec-title p-b-22">
            <h3 class="m-text5 t-center">
                Sản phẩm khác
            </h3>
        </div>

        <!-- Tab01 -->
        <div class="tab01">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#best-seller" role="tab">XEM NHIỀU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#featured" role="tab">SẮP RA MẮT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#sale" role="tab">NỔI BẬT</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-t-35">
                <!-- - -->
                <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
                    <div class="row">
                        <!--Kiểm tra Có sản phẩm ko sau đó xuất thông báo  -->
                        @if (LuotXem == null)
                        {

                            <div class="col-8">
                                <span class="alert alert-danger">Chưa có Sản phẩm  </span>
                            </div>

                        }
                        else
                        {
                            foreach (var item in LuotXem)
                            {
                                <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                                    <!-- Block2 -->
                                    <div class="block2">
                                        <div class="block2-img wrap-pic-w of-hidden pos-relative ">
                                            <img src="@item.HINH" alt="IMG-PRODUCT">

                                            <div class="block2-overlay trans-0-4">

                                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                                    <!-- Button Thêm sản phẩm vào giỏ hàng-->
                                                    @*@using (Html.BeginForm("ThemVaoGioHang", "GioHang", new { @MaHang = @item.MAHANG, @SoLuong = 1, @Url = Request.Url.ToString() }))
                                                        {*@
                                                    <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4 btn_ThemVaoGioHang" data-id="@item.MAHANG">
                                                        THÊM VÀO GIỎ
                                                    </button>
                                                    @*}*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="block2-txt p-t-20">
                                            <a href="/chi-tiet-san-pham/@item.MAHANG" class="block2-name dis-block s-text3 p-b-5">
                                                @item.TENHANG
                                            </a>

                                            <span class="block2-price m-text6 p-r-5">
                                                @item.GIABAN.Value.ToString("N0")
                                            </span>
                                            <span class="m-text6 p-r-5">
                                                VNĐ
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>

                <!-- - -->

                <div class="tab-pane fade" id="featured" role="tabpanel">
                    <div class="row">
                        <!--Kiểm tra Có sản phẩm ko sau đó xuất thông báo  -->
                        @if (ChuaRaMat == null)
                        {

                            <div class="col-8">
                                <span class="alert alert-danger">Chưa có Sản phẩm  </span>
                            </div>

                        }
                        else
                        {
                            foreach (var item in ChuaRaMat)
                            {
                                <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                                    <!-- Block2 -->
                                    <div class="block2">
                                        <div class="block2-img wrap-pic-w of-hidden pos-relative">
                                            <img src="@item.HINH" alt="IMG-PRODUCT">

                                            <div class="block2-overlay trans-0-4">


                                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                                    <!-- Button Thêm sản phẩm vào giỏ hàng-->

                                                    @using (Html.BeginForm("ThemVaoGioHang", "GioHang", new { @MaHang = @item.MAHANG, @SoLuong = 1, @Url = Request.Url.ToString() }))
                                                    {
                                                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                            THÊM VÀO GIỎ
                                                        </button>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="block2-txt p-t-20">
                                            <a href="/chi-tiet-san-pham/@item.MAHANG" class="block2-name dis-block s-text3 p-b-5">
                                                @item.TENHANG
                                            </a>

                                            <span class="block2-price m-text6 p-r-5">
                                                @item.GIABAN.Value.ToString("N0")
                                            </span>
                                            <span class="m-text6 p-r-5">
                                                VNĐ
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }


                        }
                    </div>
                </div>

                <!--  -->

                <div class="tab-pane fade" id="sale" role="tabpanel">
                    <div class="row">
                        <!--Kiểm tra Có sản phẩm ko sau đó xuất thông báo  -->
                        @if (NoiBat == null)
                        {
                            <div class="col-8">
                                <span class="alert alert-danger">Chưa có Sản phẩm  </span>
                            </div>
                            

                        }
                        else
                        {
                            foreach (var item in NoiBat)
                            {
                                <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                                    <!-- Block2 -->
                                    <div class="block2">
                                        <div class="block2-img wrap-pic-w of-hidden pos-relative ">
                                            <img src="@item.HINH" alt="IMG-PRODUCT">

                                            <div class="block2-overlay trans-0-4">


                                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                                    <!-- Button Thêm sản phẩm vào giỏ hàng-->

                                                    @using (Html.BeginForm("ThemVaoGioHang", "GioHang", new { @MaHang = @item.MAHANG, @SoLuong = 1, @Url = Request.Url.ToString() }))
                                                    {
                                                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                            THÊM VÀO GIỎ
                                                        </button>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="block2-txt p-t-20">
                                            <a href="/chi-tiet-san-pham/@item.MAHANG" class="block2-name dis-block s-text3 p-b-5">
                                                @item.TENHANG
                                            </a>

                                            <span class="block2-price m-text6 p-r-5">
                                                @item.GIABAN.Value.ToString("N0")
                                            </span>
                                            <span class="m-text6 p-r-5">
                                                VNĐ
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }

                        }

                    </div>
                </div>

                <!--  -->
            </div>
        </div>
    </div>
</section>


<!-- Blog -->
<section class="blog bgwhite p-t-94 p-b-65">
    <div class="container">
        <div class="sec-title p-b-52">
            <h3 class="m-text5 t-center">
                Our Blog
            </h3>
        </div>

        <div class="row">
            <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
                <!-- Block3 -->
                <div class="block3">
                    <a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
                        <img src="/TaiLieu/lotSan/san-nhua-go-1.jpg" alt="IMG-BLOG">
                    </a>

                    <div class="block3-txt p-t-14">
                        <h4 class="p-b-7">
                            <a href="blog-detail.html" class="m-text11">
                                Black Friday Guide: Best Sales & Discount Codes
                            </a>
                        </h4>

                        <span class="s-text6">By</span> <span class="s-text7">Nancy Ward</span>
                        <span class="s-text6">on</span> <span class="s-text7">July 22, 2017</span>

                        <p class="s-text8 p-t-16">
                            Duis ut velit gravida nibh bibendum commodo. Sus-pendisse pellentesque mattis augue id euismod. Inter-dum et malesuada fames
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
                <!-- Block3 -->
                <div class="block3">
                    <a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
                        <img src="/TaiLieu/lotSan/san-nhua-go-1.jpg" alt="IMG-BLOG">
                    </a>

                    <div class="block3-txt p-t-14">
                        <h4 class="p-b-7">
                            <a href="blog-detail.html" class="m-text11">
                                The White Sneakers Nearly Every Fashion Girls Own
                            </a>
                        </h4>

                        <span class="s-text6">By</span> <span class="s-text7">Nancy Ward</span>
                        <span class="s-text6">on</span> <span class="s-text7">July 18, 2017</span>

                        <p class="s-text8 p-t-16">
                            Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit ame
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
                <!-- Block3 -->
                <div class="block3">
                    <a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
                        <img src="/TaiLieu/lotSan/san-nhua-go-1.jpg" alt="IMG-BLOG">
                    </a>

                    <div class="block3-txt p-t-14">
                        <h4 class="p-b-7">
                            <a href="blog-detail.html" class="m-text11">
                                New York SS 2018 Street Style: Annina Mislin
                            </a>
                        </h4>

                        <span class="s-text6">By</span> <span class="s-text7">Nancy Ward</span>
                        <span class="s-text6">on</span> <span class="s-text7">July 2, 2017</span>

                        <p class="s-text8 p-t-16">
                            Proin nec vehicula lorem, a efficitur ex. Nam vehicula nulla vel erat tincidunt, sed hendrerit ligula porttitor. Fusce sit amet maximus nunc
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Shipping -->
<section class="shipping bgwhite p-t-62 p-b-46">
    <div class="flex-w p-l-15 p-r-15">
        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
            <h4 class="m-text12 t-center">
                Free Delivery Worldwide
            </h4>

            <a href="#" class="s-text11 t-center">
                Click here for more info
            </a>
        </div>

        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
            <h4 class="m-text12 t-center">
                30 Days Return
            </h4>

            <span class="s-text11 t-center">
                Simply return it within 30 days for an exchange.
            </span>
        </div>

        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
            <h4 class="m-text12 t-center">
                Store Opening
            </h4>

            <span class="s-text11 t-center">
                Shop open from Monday to Sunday
            </span>
        </div>
    </div>
</section>

